* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase; /* forces all text to be uppercase*/
}

.welcome-image {
    background-image: url('images/cloud-backdrop.jpg');
    background-size: cover;
    background-position: center;
    background-color: green;
    min-width: 100dvw;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.welcome-page {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    justify-items: center; 
    padding: 20px 40px 20px 40px;
    background-color: rgb(172, 250, 172); 
    min-width: 600px;
    height: 300px;
}

.game-title {
    display: grid;
    align-self: center;
    margin: 10px;
}

.select-game {
    display: inline-block;
    align-content: center;
    background-color: white;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 8px;
    width: 300px;
    text-decoration: none;
    color: black;
    font-size: 16pt;
}

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype');
    font-weight: regular;
}

body {
    font-family: 'Minecraft', sans-serif ;
    text-align: center;
}

#board {
    background-color: lightskyblue;
    border-bottom: 3px solid brown;
    
}

h1 {
    padding: 20px;
}



/* CHOOSE YOUR PLAYER PAGE */
.page-container {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: lightskyblue;
}

.available {
    color: green;
    display: block;
}

.taken {
    color: red;
    display: block;
}

 .zoom-image {
            width:60px;
            height:auto;
            transition: transform 0.2s ease-in-out;
            cursor: pointer;
            display: grid;
            border-radius: 10px;
            padding: 5px;
        }

.characters-container {
            display: grid;
            background-color: lightgreen;
            border-radius: 15px;
            height: 50dvh;
            width: 40dvw;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr;
            place-items: center;
            padding: 20px;
        }

